[program:seasoft_bot]
directory=/home/zagzig186/SeaSoft-Bot/MAJ_BOT
command=node .
autostart=true
autorestart=true
startsecs=10
stopasgroup=true
killasgroup=true
user=zagzig186
log_stdout=/home/zagzig186/SeaSoft-Bot/MAJ_BOT/logs/stdout.log
log_stderr=/home/zagzig186/SeaSoft-Bot/MAJ_BOT/logs/stderr.log